.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  
}

input{
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  background-color: cyan;
  color: red;
  font-size: 20px;
}
.inputcon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
}

.coinimg{
  width: 30px;
  height: 30px;
}
.atag{
  text-decoration: none;
}
.cointable, .cointr{
  border: 2px solid;
  border-color: blue;

  border-collapse: collapse;
  text-shadow: #fff 2px 0 10px;
  
}
.cointr{
  padding-top: 4px;
  padding-bottom: 2px;
}
.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 700px;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 20px;
}
.container h1{
  text-transform: uppercase;
}
.coin-data{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 5px 0px 5px 0px;
}
.coin-row{
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

.coin-left{
  width: 170px;
  color: white;
  font-weight: 600;
  background-color: transparent;
}

.green{
  color: green;
}
.red{
color: red;
}
.back{
  width: 100px;
  height: 30px;
  background-color: blueviolet;
  
}
.backa{
  text-decoration: none;
  color: antiquewhite;
  font-weight: 700;
}
button:hover{
  cursor: pointer;
}